.area01 {
/*     height: 700px; */
    height: 80vh;
    background-color: #90f3b1;
    margin-bottom: 10px;
    position: relative;
}
.buttonSidebar {
    position: absolute;
    bottom: 0;
    left:0;
}
.text-area {
    display: inline-block;
}
.text-area  textarea {
    max-width: 300px !important;
}
.header {
    height:20px;
    background-color: #74c0ff;
}
.moved {
    position: absolute;
}