<p-panel header="Набор асоциативных карт 1" [collapsed]="false" [toggleable]="true">
<div class="accordion-block-content">
    <div [ngClass]='"img-block"' *ngFor="let card of arrayCards">
        <img [ngClass]='"img-card"' src="./assets/images/{{ card }}" />
    </div>
</div>
</p-panel>

<p-panel header="Набор асоциативных карт 2" [collapsed]="true" [toggleable]="true">
    <div class="accordion-block-content">
        <div [ngClass]='"img-block"' *ngFor="let card of arrayCards">
            <img [ngClass]='"img-card"' src="./assets/images/{{ card }}" />
        </div>
    </div>
</p-panel>



