
<p-panel header="Набор асоциативных карт 2" [collapsed]="false" [toggleable]="true">
<!--
    <div class="accordion-block-content">
        <img [ngClass]='"img-card"' *ngFor="let card of arrayCards" src="./assets/images/{{ card }}" dragEffect="linkMove" pDraggable="carszone" (onDragStart)="dragStart($event)" (onDrag)="drag($event)" (onDragEnd)="dragEnd($event)" (click)="onClick($event)"/>
    </div>
-->
    <div class="accordion-block-content block1">
        <div class="button-block">
            <button pButton type="button" class="ui-button-info" label="Скрыть карты" (click)="hideShowImage('block1')"></button>
            <button pButton type="button" class="ui-button-info" label="Окрыть карты" (click)="hideShowImage('block1')"></button>
            <p-inputSwitch onLabel="Открыть" offLabel="Скрыть" [(ngModel)]="checkedStatus" (onChange)="handleChange($event)"></p-inputSwitch>
        </div>
        <div [ngClass]='"img-block"' *ngFor="let card of arrayCards" pDraggable="carszone" (onDragStart)="dragStart($event)" (onDrag)="drag($event)" (onDragEnd)="dragEnd($event)" (click)="onClick($event)">
            <img [ngClass]='"img-card"' src="./assets/images/{{ card }}" alt="./assets/images/hidden.png"/>
        </div>
    </div>
</p-panel>

<p-panel header="Набор слов" [collapsed]="false" [toggleable]="true">
    <div class="accordion-block-content">
        <div class="word-block" *ngFor="let word of arrayWords" pDraggable="carszone" (onDragStart)="dragStart($event)" (onDrag)="drag($event)" (onDragEnd)="dragEnd($event)" (click)="onClick($event)" > 
            {{ word }}
        </div>
    </div>
</p-panel>

<p-panel header="Набор асоциативных карт 1" [collapsed]="true" [toggleable]="true">
<div class="accordion-block-content">
    <div class="rev">
        <!-- <button pButton type="button" class="ui-button-info" label="Click" (click)="hideCardImage()"></button> -->
        
    </div>
    <div [ngClass]='"img-block"' *ngFor="let card of arrayCards" pDraggable="carszone" (onDragStart)="dragStart($event)" (onDrag)="drag($event)" (onDragEnd)="dragEnd($event)" (click)="onClick($event)">
        <img [ngClass]='"img-card"' src="./assets/images/{{ card }}" />
    </div>
</div>
</p-panel>

