.accordion-block-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
    overflow: scroll;
    margin: 0 0 15px 0;
    padding: 10px;
    border-top-color: #707070;
    border-top-style: solid;
    border-top-width: 1px;
    background-color: #a3a3a3;
}

.img-card {
    height: 150px;
    margin: 5px;
}
.img-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
}
.word-block {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    background-color: #b4d4ff;
    font-size: 25px;
    border: 1px solid #4b4a4a;
    border-radius: 5px;

}
