.accordion-block-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
    overflow: scroll;
    margin: 0 0 15px 0;
    padding: 10px;
    border-top-color: #707070;
    border-top-style: solid;
    border-top-width: 1px;
    background-color: #a3a3a3;
}

.img-block {
    margin: 2px;
}

.img-block-move {
    margin: 0;
}

.img-card {
    height: 150px;
    margin: 5px;
}

.img-card:hover,
.word-block:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
    cursor: pointer;
}

.word-block {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    background-color: #b4d4ff;
    font-size: 15px;
    border: 1px solid #80b7ff;
    border-radius: 5px;
}

.moved {
    height: auto;
    position: absolute;
    border-radius: 10px;
}

.hiddenCard {
    border-radius: 5px;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.hiddenCard .img-card {
    opacity: 0;
}